.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    height: 100vh;
}

.login-form {
    width: 300px;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.login-form input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: .5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}
/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
    .login-container {
        padding: 1rem;
    }
    
    .login-form {
        width: 100%;
        padding: 1rem;
    }
    
    .login-form input {
        width: 90%;
    }
}

/* Media query for laptop screens */
@media only screen and (min-width: 1024px) {
    .login-container {
        padding: 5rem;
    }
    
    .login-form {
        width: 500px;
        padding: 3rem;
    }
}
